{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (May 19)</h3>
    <h4>Spreadsheets & OpenRefine</h4>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>1:00 PM ET</td> <td> <a href="intro.pdf">Workshop Introduction</a></td></tr>
      <tr> <td>1:15 PM ET</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr> <td>2:00 PM ET</td> <td> 10 min Break</td></tr>
      <tr> <td>2:10 PM ET</td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr> <td>3:00 PM ET</td> <td> 10 min Break</td></tr>
      <tr> <td>3:10 PM ET</td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning (Continued)</a></td></tr>
      <tr> <td>4:00 PM ET</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (May 20)</h3>
	  <h4><a href='https://datacarpentry.org/sql-ecology-lesson/'>Querying Data with SQL</a></h4>
    <table class="table table-striped">
      <tr> <td>1:00 PM ET</td> <td>Previous Day Review and Question Session</td></tr>
      <tr> <td>1:15 PM ET</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson'>Data Management with SQL</a></td></tr>
      <tr> <td>2:00 PM ET</td> <td> 10 min Break</td></tr>
      <tr> <td>2:10 PM ET</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson'>Data Management with SQL (Continued)</a></td></tr>
      <tr> <td>3:00 PM ET</td> <td> 10 min Break</td></tr>
      <tr> <td>3:10 PM ET</td> <td><a href='https://datacarpentry.org/sql-ecology-lesson'>Data Management with SQL (Continued)</a></td></tr>
      <tr> <td>4:00 PM ET</td> <td>END</td> </tr>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (May 26)</h3>
    <h4>Working with data with R</h4>
    <table class="table table-striped">
      <tr> <td>1:00 PM</td> <td>Previous Day Review and Question Session</td></tr>
      <tr> <td>1:15 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R and RStudio</a></td></tr>
      <tr> <td>2:00 PM ET</td> <td> 10 min Break</td></tr>
      <tr> <td>2:10 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data</a></td></tr>
      <tr> <td>3:00 PM</td> <td> 10 min Break</td></tr>
      <tr> <td>3:10 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with Data (Continued)</a></td></tr>
      <tr> <td>4:00 PM</td> <td>END</td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (May 27)</h3>
    <h4>Manipulating and Visualizing data with R</h4>
    <table class="table table-striped">
      <tr> <td>1:00 PM</td> <td>Previous Day Review and Question Session</td></tr>
      <tr> <td>1:15 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating and analyzing data with <code>dplyr</code></a></td></tr>
      <tr> <td>2:00 PM</td> <td> 10 min Break</td></tr>
      <tr> <td>2:10 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating and analyzing data with <code>dplyr</code> (Continued)</a></td></tr>
      <tr> <td>3:00 PM ET</td> <td> 10 min Break</td></tr>
      <tr> <td>3:10 PM</td> <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data Visualization with <code>ggplot2</code> (Continued)</a></td></tr>
      <tr> <td>3:40 PM</td> <td>Workshop wrap-up</td></tr>
      <tr> <td>4:00 PM</td> <td>END</td> </tr>

    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
